<app-before-login-navbar></app-before-login-navbar>
<div class="row">
    <div class="col"></div>
    <div class="col form">
        <div class="head">
            <h2 style="margin-top: 30px;">{{title}}</h2>
            <small class="form-text text-muted">Please fill this form to create an account.</small>
        </div>
        <br>
        <div class="alert alert-danger" *ngIf = "isInvalid">An account with the similar email already exists. Please try logging in.</div>
        <form #signUpForm="ngForm" (ngSubmit) = "onSubmit(signUpForm)">
            <div class="form-group">
                <label for="name">Name :</label>
                <input type="text" class="form-control" name="FullName" id="name" placeholder="Enter name" ngModel required>
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" class="form-control" name="Email" id="email" placeholder="Enter email-address" ngModel required>
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" class="form-control" name="Password" id="password" placeholder="Enter password" ngModel required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Join Now</button> 
            <br>
            <br>
            <div>Already have an account ? <a style="text-decoration:none;" routerLink='/login'>Login</a></div>
        </form>
    </div>
    <div class="col"></div>
</div>

