.movies-wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 2.5rem;
}
.movies{
    margin: 0;
    padding: 0;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}