<app-after-login-navbar></app-after-login-navbar>
<div class="card mt-4">
    <app-movies-navbar></app-movies-navbar>
    <!-- <div class="card-body">
        <div class="row">
            <div class="row">
              <div class="card mt-4" id="inside-card">
                <div class="card-header"><b>Featured</b></div>
                <app-movie-card></app-movie-card>
              </div>
            </div>
            <div class="row">
              <div class="card mt-4" id="inside-card">
                <div class="card-header"><b>Upcoming</b></div>
                <app-movie-card></app-movie-card>
              </div>
            </div>
            <div class="row">
              <div class="card mt-4" id="inside-card">
                <div class="card-header"><b>New Releases</b></div>
                <app-movie-card></app-movie-card>
              </div>
            </div>
        </div>
    </div> -->
</div>
